{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content %}
  <form method="POST" class="border_class">
    <h1 class="header1" align="center">Sign Up</h1>
    <div class="form-group">
      <label for="email" class="header2">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="firstName" class="header2">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="password1" class="header2">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2" class="header2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <button id="btn" type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}